{%- if settings.logo != blank -%}
  <div class="header__heading-logo-wrapper">
    {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
    {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
    {%- if logo_position == 'middle-center' -%}
      {%- capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{%- endcapture -%}
    {%- else -%}
      {%- capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{%- endcapture -%}
    {%- endif -%}
    {%- capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{%- endcapture -%}
    {{
      settings.logo
      | image_url: width: 600
      | image_tag:
        class: 'header__heading-logo motion-reduce',
        widths: widths,
        height: logo_height,
        width: settings.logo_width,
        alt: logo_alt,
        sizes: sizes,
        preload: true
    }}
    {%- if hp_transparent_active and section.settings.hp_transparent_logo != blank -%}
      {%- assign hp_t_logo = section.settings.hp_transparent_logo -%}
      {%- assign hp_t_logo_height = settings.logo_width | divided_by: hp_t_logo.aspect_ratio -%}
      <img
        src="{{ hp_t_logo | image_url: width: 600 }}"
        srcset="{{ hp_t_logo | image_url: width: settings.logo_width }} {{ settings.logo_width }}w, {{ hp_t_logo | image_url: width: settings.logo_width | times: 2 }} {{ settings.logo_width | times: 2 }}w"
        sizes="{{ settings.logo_width }}px"
        width="{{ settings.logo_width }}"
        height="{{ hp_t_logo_height }}"
        alt="{{ hp_t_logo.alt | default: shop.name | escape }}"
        class="header__heading-logo header__heading-logo--transparent motion-reduce"
        loading="lazy"
      >
    {%- endif -%}
    {%- if section.settings.hp_enable_premium and section.settings.hp_sticky_logo != blank -%}
      {%- assign hp_s_logo = section.settings.hp_sticky_logo -%}
      {%- assign hp_s_logo_height = settings.logo_width | divided_by: hp_s_logo.aspect_ratio -%}
      <img
        src="{{ hp_s_logo | image_url: width: 600 }}"
        srcset="{{ hp_s_logo | image_url: width: settings.logo_width }} {{ settings.logo_width }}w, {{ hp_s_logo | image_url: width: settings.logo_width | times: 2 }} {{ settings.logo_width | times: 2 }}w"
        sizes="{{ settings.logo_width }}px"
        width="{{ settings.logo_width }}"
        height="{{ hp_s_logo_height }}"
        alt="{{ hp_s_logo.alt | default: shop.name | escape }}"
        class="header__heading-logo header__heading-logo--sticky motion-reduce"
        loading="lazy"
      >
    {%- endif -%}
  </div>
{%- else -%}
  <span class="h2">{{ shop.name }}</span>
{%- endif -%}
